/*-----block-list-----
- container
  - header
  - mv
  - banner
  - skill
  -calender
*/

/*-----reset-----*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans Japanese";
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 2px;
}
li {
  list-style-type: none;
}
a {
  color: #777;
  text-decoration: none;
  cursor: pointer;
}
img {
  vertical-align: middle;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 200;
}

/*-----common-----*/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.content {
  width: 1120px;
  margin: 0 auto;
}
.main-heading {
  padding: 80px 0 40px;
  line-height: 50px;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  color: #35477b;
}
.main-heading::after {
  content: "";
  display: block;
  width: 100px;
  margin: 15px auto 0;
  border-top: 2px solid #3ead92;
}
.fw {
  display: block;
  padding: 10px 0 30px;
  font-size: 10px;
  font-weight: 700;
  color: #888;
}

/*-----header-----*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
}
.header-corporate-img {
  width: 15%;
}
.header-nav {
  float: right;
}
.header-nav-list-item {
  float: left;
  margin: 0 5px;
  padding: 0 30px;
  cursor: pointer;
}
.header-nav-list-item>a {
  transition: all .5s;
}
.header-nav-list-item>a:hover {
  color: #fd791c;
  font-weight: bolder;
}

/*-----mv-----*/
.mv {
  width: 100%;
  height: 90vh;
  padding-top: 200px;
  background: url("../image/mv.png");
  background-size: 100% 100%;
}
.mv-box {
  position: relative;
  width: 1000px;
  background: rgba(25,44,98,0.5);
}
.heading {
  margin-left: 50px;
  padding: 30px 0;
  color: #fff;
  letter-spacing: 5px;
  font-style: italic;
  font-size: 46px;
  font-weight: 200;
}
.triangle {
  position: absolute;
  top: 0;
  right: -76px;
  display: block;
  width: 0;
  height: 0;
  border-top: 64px solid transparent;
  border-right: 38px solid transparent;
  border-bottom: 64px solid rgba(25,44,98,0.5);
  border-left: 38px solid rgba(25,44,98,0.5);
}

/*-----banner-----*/

.banner {
  padding: 20px 0;
  background: #f1f1f1;
  text-align: center;
}
.banner-link-img {
  height: 110px;
  margin: 0 25px;
}

/*-----skill-----*/

.skill-heading {
  font-size: 26px;
}
.skill-content {
  width: 65%;
  margin: 0 auto;
  line-height: 30px;
}
.br {
  display: block;
}
.br::after {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  background: #3ead92;
}

/*-----calender-----*/

.calender {
  padding-bottom: 40px;
  text-align: center;
  font-size: 16px;
}
.cal-cell {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}
.cal-cell-heading {
  padding-bottom: 70px;
}
tr {
  height: 100px;
}
td {
  cursor: pointer;
}
.red {
  color: #f30011;
}
.blue {
  color: #0a00f6;
}
.lt {
  text-decoration: line-through;
  cursor: default;
}
.fsm {
  font-size: 10px;
}
.mordal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.5);
  text-align: center;
  line-height: 100vh;
  cursor: pointer;
}
.mordal>img {
  width: 90%;
}

@media all and (max-width: 1024px){
  .content {
    width: 90%;
  }
  .banner {
    display: none;
  }
}

@media all and (max-width: 768px){
  .header {
    display: none;
  }
  .mv {
    display: none;
  }
  .banner {
    display: none;
  }
  .content {
    width: 95%;
  }
  .skill-content {
    width: 100%;
  }
}




